<div class="backgrounds_hold full">
    <div class="backgrounds full">
        <div class="background sky"></div>
        <div class="background sun"></div>
        <div class="background clouds"></div>
        <div class="background city"></div>
        <div class="background city_offset"></div>
        <div class="background forest_offset"></div>
        <div class="background forest"></div>
        <div class="background forest_with_rocket"></div>
        <div class="background clouds"></div>
        <div class="background forest_small"></div>
        <div class="background forest_small_offset"></div>
    </div>
</div>
