<div class="backgrounds_hold">
    <div class="backgrounds">
        <div class="background sky"></div>
        <div class="background clouds"></div>
        <div class="background city"></div>
        <div class="background forest"></div>
        <div class="background forest_with_rocket"></div>
        <div class="background clouds"></div>
        <div class="background forest_small"></div>
    </div>
</div>
